@mixin flexbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

// widgets global
@import "./widgets/filter-room";
@import "./widgets/search-room";

// single room
@import "./single-room/room-thumb";