.hotel-booking-search.hotel-booking-search-el {
	position: relative;
	align-items: center;
	padding: 0;
}

.hotel-booking-search-el .hb-form-table {
	position: relative;
}

.hotel-booking-search-el .multidate {
	position: absolute;
	font-size: 16px;
	opacity: 0;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 2;
	background: none;
	cursor: pointer;
	left: 0;
}
.hotel-booking-search-el .hb-form-field-input.hb_input_field {
	position: unset;
}
.hotel-booking-search-el .hb-form-number .hb_input_field {
	position: relative;
}
.hotel-booking-search-el .hb-form-field {
	position: relative;
	padding: 10px;
}

.hotel-booking-search-el .icon-custom {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.hotel-booking-search-el .hb-form-field.hb-form-check-in-check-out {
	width: 40%;
	max-width: none;
}

.hotel-booking-search-el .hb-form-field.hb-form-check-in-check-out .hb-form-field-input {
	display: inline-block;
}

.hotel-booking-search-el .hb-form-field.hb-form-check-in-check-out .hb-form-field-input #day,
.hotel-booking-search-el .hb-form-field.hb-form-check-in-check-out .hb-form-field-input #day2 {
	width: 30px;
}

.hotel-booking-search-el .hb-form-field.hb-form-check-in-check-out .hb-form-field-input button {
	display: none;
}

.hotel-booking-search-el .hb-form-field.hb-form-number .hb-form-field-input {
	display:flex;
	width: 100%;
	cursor: pointer;
	z-index: 2;
	align-items: center;
}

.hotel-booking-search-el .hb-form-field.hb-form-number .hb-form-field-input input {
	width: 100%;
}

.hotel-booking-search-el .adults-number,
.hotel-booking-search-el .child-number {
	width: auto;
}

.hotel-booking-search-el .hb-form-field-list {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 20px 30px;
	background: #fff;
	z-index: 9;
	margin: 5px 0 0 0;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
	transition: all 0.5s;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.hotel-booking-search-el .hb_input_field > span {
	position: absolute;
	left: 15px;
	font-size: 16px;
}

.hotel-booking-search-el .hb-form-field-list.active {
	opacity: 1;
	visibility: visible;
}

.hotel-booking-search-el .hb-form-field-list .hb-form-field-input:last-child {
	margin: 0;
}

.hotel-booking-search-el .hb-form-field-list .number-box .number-icons {
	cursor: pointer;
	float: none;
	background: transparent;
	color: #000;
	margin-left: 0;
	height: auto;
}

.hotel-booking-search-el .hb-form-number .number-box {
	display: flex;
	gap: 10px;
}

.hotel-booking-search-el .hb-form-field-list .name {
	font-weight: 500;
	color: #000;
}

.hotel-booking-search-el .hb-form-field .label {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}

.hotel-booking-search-el .hb_input_field input {
	width: 90px;
	height: auto;
	border: none;
	border-radius: 0;
	line-height: 1;
	min-width: 0;
	background: none;
	padding: 0;
	font-size: 16px;
	color: #656565;
	cursor: pointer;
	text-transform: capitalize;
}

.hotel-booking-search-el .hb-form-field .hb_input_field input.day,
.hotel-booking-search-el .hb-form-field .hb_input_field .getWidth {
	padding: 0;
}

.hotel-booking-search-el .hb-form-field .hb_input_field:after {
	display: none;
}

.hotel-booking-search-el .hb-form-number .select2-container,
.hotel-booking-search-el .hb-form-number select {
	width: auto !important;
	pointer-events: none;
}

.hotel-booking-search-el .hb-form-number .select2-container--default .select2-selection--single {
	border: none;
}

.hotel-booking-search-el .hb-form-number .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.hotel-booking-search-el .hb-form-number .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.hotel-booking-search-el select {
	width: 100%;
}

.hotel-booking-search-el .hb-submit button {
	width: 100%;
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	border: none;
	height: 100%;
	border-radius: 0;
	min-width: 0;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.daterangepicker.dropdown-menu {
	display: none;
	width: 672px;
	padding: 0;
	border-radius: 0;
	padding: 15px 24px 30px;
	margin-top: 5px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.5s;
}

.daterangepicker.dropdown-menu .daterangepicker_input {
	display: none;
}

.daterangepicker.dropdown-menu .calendar {
	width: 50%;
	margin: 0;
	max-width: 312px;
}

.daterangepicker.dropdown-menu .calendar.left {
	padding-right: 15px;
}

.daterangepicker.dropdown-menu .calendar.right {
	padding-left: 15px;
}

.daterangepicker.dropdown-menu .calendar .calendar-table {
	padding: 0;
}

.daterangepicker.dropdown-menu .calendar table {
	border: none;
}

.daterangepicker.dropdown-menu .calendar tr {
	border: none;
}

.daterangepicker.dropdown-menu .calendar th {
	border: none;
	width: 40px;
	height: 40px;
	padding: 0;
	min-width: 40px;
	font-weight: normal;
}

.daterangepicker.dropdown-menu .calendar th.available {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #000;
	display: inline-block;
	float: right;
	margin-left: 12px;
	cursor: pointer;
	border: none;
	margin: 0;
	border-radius: 0;
	padding: 0;
	font-weight: normal;
}

.daterangepicker.dropdown-menu .calendar th.month {
	font-weight: 600;
	font-size: 14px;
	color: #000;
}

.daterangepicker.dropdown-menu .calendar thead th {
	font-size: 14px;
}

.daterangepicker.dropdown-menu .calendar tbody td {
	border-radius: 0;
	padding: 0;
	font-size: 14px;
	width: 40px;
	height: 40px;
	color: #636363;
}

.daterangepicker.dropdown-menu .calendar tbody td.off {
	color: #999;
}

.daterangepicker.dropdown-menu .calendar tbody td:hover {
	color: #636363;
}

.daterangepicker.dropdown-menu .calendar tbody td.active {
	color: #fff;
}

.daterangepicker.dropdown-menu .calendar tbody td.in-range:hover {
	color: #333;
}

.daterangepicker.dropdown-menu .calendar tbody td.active:hover {
	color: #fff;
}

@media (max-width: 767px) {

	.daterangepicker.dropdown-menu {
		width: 100%;
	}

	.daterangepicker.dropdown-menu .calendar.left {
		width: 100%;
		padding: 0;
		max-width: 100%;
	}

	.daterangepicker.dropdown-menu .calendar.right {
		padding: 0;
	}

	.daterangepicker.dropdown-menu .calendar.right th.available.next {
		display: block;
	}

	.daterangepicker.dropdown-menu .calendar.right tbody {
		display: none;
	}

	.daterangepicker.dropdown-menu .calendar.right thead th {
		display: none;
	}

	.daterangepicker.dropdown-menu .calendar.right .table-condensed {
		position: absolute;
		top: 15px;
		right: 30px;
		width: 40px;
	}
}
.hb-form-check-in-check-out {
	cursor: pointer;

	> input {
		top: 0;
		right: 0;
		position: absolute;
		bottom: -16px;
		left: 0;
	}
} 

.flatpickr-months {
	.flatpickr-month {
		height: unset;
	
		.flatpickr-current-month {
			padding: 15px 0;
			height: unset;
			position: unset;

			> * {
				background: transparent !important;
			}
		}
	}

	.flatpickr-prev-month, .flatpickr-next-month {
		padding: 15px;
	}
}
.flatpickr-innerContainer {
	.flatpickr-day.hidden {
		display: inline-block !important;
	}

	.flatpickr-day.flatpickr-disabled {
		color: rgba(57, 57, 57, 0.4);
		text-decoration: line-through;
	}
}

@media (max-width: 767px) {
	.flatpickr-months .flatpickr-month:nth-child(3), 
	.flatpickr-weekdays .flatpickr-weekdaycontainer:nth-child(2),
	.flatpickr-innerContainer .dayContainer:nth-child(2) {
		display: none;
	}

	.flatpickr-calendar {
		max-width: 310px !important;
	}

	.flatpickr-rContainer {
		width: 100%;
	}
}