.hotel-booking-search-el .multidate-layout {
	position: relative;
	align-items: center;
}

.hotel-booking-search-el .multidate-layout .hb-form-table {
	width: 86%;
	float: left;
	margin: 0px;
	position: relative;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .multidate {
	position: absolute;
	font-size: 16px;
	opacity: 0;
	height: 100%;
	width: 40%;
	border: none;
	z-index: 2;
	background: none;
	cursor: pointer;
	left: 0;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field {
	width: 30%;
	float: left;
	padding: 25px 20px 25px 30px;
	position: relative;
	margin: 0;
}

.hotel-booking-search-el .multidate-layout .icon-custom {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out {
	width: 40%;
	max-width: none;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out .hb-form-field-input {
	display: inline-block;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out .hb-form-field-input #day,
.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out .hb-form-field-input #day2 {
	width: 30px;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out .hb-form-field-input button {
	display: none;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-input {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	z-index: 2;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-input input {
	width: 100%;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-input.guests-number,
.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-input.child-number {
	width: auto;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background: #eee;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 30px;
	background: #fff;
	z-index: 9;
	margin: 5px 0 0 0;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
	transition: all 0.5s;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb_input_field > span {
	position: absolute;
	left: 15px;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list.active {
	opacity: 1;
	visibility: visible;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .hb-form-field-input {
	margin-bottom: 0;
	margin-left: 25px;
	margin-right: 25px;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .hb-form-field-input:last-child {
	margin: 0;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .number-box .number-icons {
	cursor: pointer;
	float: none;
	background: transparent;
	color: #000;
	margin-left: 0;
	height: auto;
}

.hotel-booking-search-el .multidate-layout .number-box {
	display: flex;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .name {
	font-weight: 500;
	color: #000;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field .label {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field .label label {
	font-weight: 500;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field .hb_input_field input {
	width: 150px;
	height: auto;
	border: none;
	border-radius: 0;
	line-height: 1;
	min-width: 0;
	background: none;
	padding: 0;
	font-size: 16px;
	color: #656565;
	cursor: pointer;
	text-transform: capitalize;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field .hb_input_field input.day,
.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field .hb_input_field .getWidth {
	padding: 0;
}

.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field .hb_input_field:after {
	display: none;
}

.hotel-booking-search-el .multidate-layout .select2-container,
.hotel-booking-search-el .multidate-layout select {
	width: auto !important;
	pointer-events: none;
}

.hotel-booking-search-el .multidate-layout .select2-container--default .select2-selection--single {
	border: none;
}

.hotel-booking-search-el .multidate-layout .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.hotel-booking-search-el .multidate-layout .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.hotel-booking-search-el .multidate-layout .hb-submit {
	width: 14%;
}
.hotel-booking-search-el form:not(.multidate-layout) .hb-submit button {
	display: block;
}
.hotel-booking-search-el .multidate-layout .hb-submit button {
	width: 100%;
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	border: none;
	height: 100%;
	border-radius: 0;
	min-width: 0;
	text-transform: uppercase;
}

.daterangepicker.dropdown-menu {
	display: none;
	width: 672px;
	padding: 0;
	border-radius: 0;
	padding: 15px 24px 30px;
	margin-top: 5px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.5s;
}

.daterangepicker.dropdown-menu .daterangepicker_input {
	display: none;
}

.daterangepicker.dropdown-menu .calendar {
	width: 50%;
	margin: 0;
	max-width: 312px;
}

.daterangepicker.dropdown-menu .calendar.left {
	padding-right: 15px;
}

.daterangepicker.dropdown-menu .calendar.right {
	padding-left: 15px;
}

.daterangepicker.dropdown-menu .calendar .calendar-table {
	padding: 0;
}

.daterangepicker.dropdown-menu .calendar table {
	border: none;
}

.daterangepicker.dropdown-menu .calendar tr {
	border: none;
}

.daterangepicker.dropdown-menu .calendar th {
	border: none;
	width: 40px;
	height: 40px;
	padding: 0;
	min-width: 40px;
	font-weight: normal;
}

.daterangepicker.dropdown-menu .calendar th.available {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #000;
	display: inline-block;
	float: right;
	margin-left: 12px;
	cursor: pointer;
	border: none;
	margin: 0;
	border-radius: 0;
	padding: 0;
	font-weight: normal;
}

.daterangepicker.dropdown-menu .calendar th.month {
	font-weight: 600;
	font-size: 14px;
	color: #000;
}

.daterangepicker.dropdown-menu .calendar thead th {
	font-size: 14px;
}

.daterangepicker.dropdown-menu .calendar tbody td {
	border-radius: 0;
	padding: 0;
	font-size: 14px;
	width: 40px;
	height: 40px;
	color: #636363;
}

.daterangepicker.dropdown-menu .calendar tbody td.off {
	color: #999;
}

.daterangepicker.dropdown-menu .calendar tbody td:hover {
	color: #636363;
}

.daterangepicker.dropdown-menu .calendar tbody td.active {
	color: #fff;
}

.daterangepicker.dropdown-menu .calendar tbody td.in-range:hover {
	color: #333;
}

.daterangepicker.dropdown-menu .calendar tbody td.active:hover {
	color: #fff;
}

@media (max-width: 1024px) {

	.hotel-booking-search-el .multidate-layout .hb-form-table .multidate,
	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out {
		width: 50%;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field {
		width: 25%;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list {
		padding: 15px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .number-box {
		padding: 4px 0px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .hb-form-field-input {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (max-width: 992px) {
	.hotel-booking-search-el .multidate-layout .hb-form-table {
		width: 82%;
	}

	.hotel-booking-search-el .multidate-layout .hb-submit {
		width: 18%;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out::after {
		right: 15px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field {
		padding: 20px 10px 20px 20px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table {
		width: 82%;
		float: left;
	}

	.hotel-booking-search-el .multidate-layout .hb-submit {
		width: 18%;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out::after {
		right: 15px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field {
		padding: 20px 10px 20px 20px;
		width: 25% !important;
		float: left;
		margin-bottom: 0;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out {
		width: 50% !important;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list {
		display: block;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .number-box {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
}

@media (max-width: 767px) {

	.hotel-booking-search-el .multidate-layout .hb-form-table .multidate,
	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out,
	.hotel-booking-search-el .multidate-layout .hb-form-table {
		width: 100%;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .multidate {
		height: 33%;
	}

	.hotel-booking-search-el .multidate-layout .hb-submit {
		width: 100%;
		position: unset;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field {
		width: 100%;
	}

	.daterangepicker.dropdown-menu {
		width: 100%;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .multidate,
	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out,
	.hotel-booking-search-el .multidate-layout .hb-form-table {
		width: 100% !important;
	}

	.hotel-booking-search-el .multidate-layout .hb-submit {
		width: 100%;
		position: unset;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field {
		width: 100% !important;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number:before {
		height: 1px;
		width: 100%;
	}

	.daterangepicker.dropdown-menu .calendar.left {
		width: 100%;
		padding: 0;
		max-width: 100%;
	}

	.daterangepicker.dropdown-menu .calendar.right {
		padding: 0;
	}

	.daterangepicker.dropdown-menu .calendar.right th.available.next {
		display: block;
	}

	.daterangepicker.dropdown-menu .calendar.right tbody {
		display: none;
	}

	.daterangepicker.dropdown-menu .calendar.right thead th {
		display: none;
	}

	.daterangepicker.dropdown-menu .calendar.right .table-condensed {
		position: absolute;
		top: 15px;
		right: 30px;
		width: 40px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list {
		display: flex;
		padding: 20px;
		margin: 0;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .number-box {
		margin-top: 0;
		padding: 5px 10px;
	}

	.hotel-booking-search-el .multidate-layout .hb-form-table .hb-form-field.hb-form-check-in-check-out::after {
		right: 27px;
	}
}