.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.hb-form-table{}
.hb-form-field{
    margin: 0 0 25px 0;
}
.hb-form-field:after{
    content: '';
    display: block;
    clear: both;
}
.hb-form-field .hb-form-field-label{
    min-height: 5px;
    float: left;
    width: 25%;
    font-weight: bold;
}
.hb-form-field .hb-form-field-input{
    margin-left: 25%;
}
.hb-form-field .hb-form-field-input-inner{
    margin-left: 20px;
}
.hb-form-field .hb-form-field-input textarea{
    width: 100%;
    min-height: 100px;
}

/* pricing table */
#hb-pricing-plan-list{
    overflow: hidden;
    clear: both;
}
.hb-pricing-table{
    border: 1px solid #DDD;
    position: relative;
    margin-bottom: 20px;
    background-color: #FFF;
    float: left;
    clear: both;
}
.hb-pricing-table-title{
    padding: 10px;
    margin: 0;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
}
.hb-pricing-list{
    border-top: 1px solid #EEE;
    padding: 10px 5px 5px 10px;
}
.hb-pricing-list th,
.hb-pricing-list td{
    padding: 5px 5px 5px 0;
}
.hb-pricing-list tbody th{
    text-align: left;
}
.hb-pricing-controls{
    position: absolute;
    right: 10px;
    top: 10px;
}
.hb-pricing-controls a{
    margin-left: 0px;
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    padding: 5px;
}
.hb-pricing-table.regular-price .hb-pricing-table-title input,
.hb-pricing-table.regular-price .hb-pricing-controls .dashicons-trash{
    display: none;
}
th.column-room_capacity,
th.column-room_type{
    width: 100px;
}
.hb-payment-gateways .subsubsub .current{
    font-weight: bold;
}
.hb-payment-gateway-settings{
    opacity: 0;
    float: left;
    width: 100%;
    margin-right: -100%;
    overflow: hidden;
    clear: both;
}
.hb-payment-gateway-settings.current{
    opacity: 1;
}
.post-type-hb_room .column-date{
    display: none;
}
.post-type-hb_room .column-author{
    width: 150px;
}
.post-type-hb_room td.column-room_capacity{
    text-align: right;
}
.post-type-hb_booking .column-title{
    width: 100px;
}
.post-type-hb_booking .column-total{
    width: 80px;
}
.post-type-hb_booking .column-details{
    width: 80px;
}
.post-type-hb_booking .column-check_in_date,
.post-type-hb_booking .column-check_out_date,
.post-type-hb_booking .column-customer_name{
    width: 130px;
}
.post-type-hb_booking .column-booking_date{
    width: 100px;
}
.post-type-hb_booking .column-check_in_date,
.post-type-hb_booking .column-check_out_date,
.post-type-hb_booking .column-booking_date,
.post-type-hb_booking .column-total{
    text-align: right;
}
#adminmenu .toplevel_page_hb_booking_details{
    _display: none;
}

.customer-information {
    width: 50%;
}

.customer-information tr {
    width: 500px;
    border: 1px solid black;
    background: #666;
}