.wp-list-table .column-thumbnail{
    width: 120px;
}
.wp-list-table .column-ordering,
.wp-list-table .column-capacity{
    width: 80px;
}
.hb-taxonomy-thumbnail-selector{
    width: 120px;
    height: 67px;
    background-color: #F5F5F5;
    position: relative;
    cursor: pointer;
}
.hb-taxonomy-thumbnail-selector:before,
.hb-taxonomy-thumbnail-selector:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: none;
}
.hb-taxonomy-thumbnail-selector:before{
    background-color: #000;
    opacity: 0.1;
    z-index: 5;
    content: 'No Image';
    display: block;
    color: #FFF;
    text-align: center;
    line-height: 67px;
}
.hb-taxonomy-thumbnail-selector:after{
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    content: '\f132';
    font-family: dashicons;
    z-index: 10;
    text-align: center;
    line-height: 30px;
    color: #00A0D2;
    font-size: 24px;
}
.hb-taxonomy-thumbnail-selector.has-attachment{
    height: auto;
}
.hb-taxonomy-thumbnail-selector.has-attachment:after{
    content: '\f182';
    color: #FF0000;
}
.hb-taxonomy-thumbnail-selector img{
    max-width: 100%;
    vertical-align: top;
}
.hb-taxonomy-thumbnail-selector.has-attachment:before{
    content: '';
}
.hb-taxonomy-thumbnail-selector:hover:before,
.hb-taxonomy-thumbnail-selector:hover:after{
    display: block;
}
.taxonomy-hb_room_type .column-description,
.taxonomy-hb_room_type .column-posts,
.taxonomy-hb_room_capacity .column-description,
.taxonomy-hb_room_capacity .column-posts{
    _display: none;
}
.hb-room-gallery{
    background-color: #F5F5F5;
    position: relative;
    border: 1px solid #DDD;
}
.hb-room-gallery:before{
    content: '';
    border: 10px solid #DDD;
    display: inline-block;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -20px;
    left: 35px;
}
.hb-room-gallery:after{
    content: '';
    border: 9px solid #F5F5F5;
    display: inline-block;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -18px;
    left: 36px;
}
.hb-room-gallery > ul{
    margin: 5px;
    padding: 0;
    overflow: hidden;
}
.hb-room-gallery > ul > li.attachment{
    width: 20%;
    padding: 5px;
    cursor: move;
}
.hb-room-gallery > ul > li.attachment:hover .centered{
    opacity: 0.4;
}
.hb-room-gallery .attachment-preview{
    cursor: move;
}
.attachment.add-new .dashicons{
    font-size: 40px;
    line-height: 55px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    color: #FFF;
    cursor: pointer;
}
.attachment.add-new{
    cursor: pointer;
}
.attachment.add-new:hover .dashicons{
    color: #00a0d2;
}
.attachment .dashicons-trash{
    position: absolute;
    z-index: 5;
    font-size: 24px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}
.attachment .dashicons-trash:hover{
    color: #FF0000;
}
.attachment:hover .dashicons-trash{
    display: block;
}
.hb-number-field{
    width: 50px;
    text-align: center;
}