.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
#hotel-booking-search{
    width: auto;
    max-width: 100%;
    padding: 35px;
}
#hotel-booking-search input,
#hotel-booking-search select,
#hotel-booking-search textarea,
#hotel-booking-search button{
    position: relative;
    width: 100%;
    height: 40px;
    min-width: 200px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 15px;
    color: #7a7a7a;
    padding: 7px 8px;
    line-height: 24px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#hotel-booking-search button{
    background-color: #2eb0d1;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
#hotel-booking-search input:hover,
#hotel-booking-search select:hover,
#hotel-booking-search textarea:hover,
#hotel-booking-search button:hover,
#hotel-booking-search input:focus,
#hotel-booking-search select:focus,
#hotel-booking-search textarea:focus,
#hotel-booking-search button:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.hb-search-form{

}
.hb-form-table{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hb-form-field{
    margin: 0 0 20px 0;
}
.hb-form-field,
#hotel-booking-search form button{
	max-width: 300px;
}
.hb-form-field-label{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
.hb_input_field{
	position: relative;
}
.hb_input_field:after{
	position: absolute;
	content: '\f073';
	color: #aaa;
	font-size: 15px;
	font: normal normal normal 14px/1 FontAwesome;
	right: 22px;
	top: 12px;
}
.hb_input_date_check{
	
}
.hb-form-field.label-left .hb-form-field-label,
.hb-form-field.label-left > label{
    float: left;
    width: 30%;
}
.hb-form-field.label-left .hb-form-field-input{
    width: 68%;
    float: right;
}
.hb-form-field.label-left:after{
    display: block;
    clear: both;
    content: '';
}
.hb-required{
    color: #FF0000;
    vertical-align: middle;
    margin: 0 10px;
}

.hb-search-results{
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
}
.hb-search-results .hb-room{}
.hb-search-results .hb-room-thumbnail{
    width: 150px;
    float: left;
}
.hb-search-results .hb-room-info{
    margin-left: 170px;
}
.hb-search-results .hb-room-meta{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.hb-search-results .hb-room-meta > li > label{
    width: 30%;
    display: inline-block;
}
.hb-search-results .hb-room-meta > li > div{
    width: 69%;
    display: inline-block;
}
.hb-align-right{
    text-align: right;
}
.hb-col-padding{
    padding: 20px;
}
.hb-col-margin{
    margin: 20px;
}
.hb-col-border{
    border: 1px solid #DDD;
}
/**/
.hb-order-existing-customer,
.hb-order-new-customer,
.hb-payment-form,
.hb-addition-information{
    /*float: left;
    width: 48.5%;*/
    position: relative;
    margin-bottom: 40px;
}
.hb-order-new-customer{
    /*float: right;*/
}
.hb-order-new-customer input[name="first_name"]{
    width: 30%;
}
.hb-order-new-customer input[name="last_name"]{
    width: 68%;
    float: right;
}
.hb-order-existing-customer > div > h4,
.hb-order-new-customer > div > h4,
.hb-payment-form > div > h4,
.hb-addition-information > div > h4{
    margin-top: 0;
}
.hb-order-existing-customer:after{
    content: attr( data-label );
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.hb-booking-room-details{
    display: none;
    margin-top: 20px;
}
.hb-payment-methods{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hb-payment-methods > li{
    margin: 0 0 20px 0;
}

.hb-payment-method-form{
    display: none;
}
.hb-room-type-gallery{
    display: none;
}
.hb-message{
    border: 1px solid #B4DCFF;
    margin: 0 0 20px;
    background-color: #F0F8FF;
}
.hb-message-content{
    margin: 10px;
    /* font-size: 14px; */
    color: #43A7FF;
}
/*widget slider*/
.hb_room_carousel .item,
.hb_related_other_room.has_slider li{
    float: left;
}

.tp-hotel-booking #reviews .commentlist{
    list-style: none;
}
.tp-hotel-booking #reviews .commentlist li{
    list-style: none;
    padding: 10px 10px 0 10px;
    border: 1px solid #DDD;
    margin-bottom: 20px;
    border-radius: 5px;
}
.tp-hotel-booking #reviews .commentlist p{
    margin-bottom: 20px;
}
.tp-hotel-booking #reviews .commentlist img.avatar{
    float: left;
    width: 60px;
    height: auto;
}
.tp-hotel-booking #reviews .commentlist .comment-text{
    margin-left: 80px;
}
.tp-hotel-booking #reviews .commentlist .meta{
    margin-bottom: 10px;
}
.tp-hotel-booking #reviews .commentlist .description{
    color: #999;
}
.tp-hotel-booking #reviews .commentlist .star-rating{
    float: right;
    position: relative;
    width: 95px;
    height: 18px;
    line-height: 1;
}
.tp-hotel-booking #reviews .commentlist .star-rating:before,
.tp-hotel-booking #reviews .commentlist .star-rating span:before{
    content: "\e601\e601\e601\e601\e601";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    font-family: hotel-booking-star;
}
.tp-hotel-booking #reviews .commentlist .star-rating span:before{
    content: "\e600\e600\e600\e600\e600";
}
.tp-hotel-booking #reviews .commentlist .star-rating span{
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 18px;
}
.tp-hotel-booking #reviews .commentlist > li:after{
    overflow: hidden;
    float: left;
    position: relative;
    left: 0;
    height: 18px;
}
.comment-form-rating{
    margin-bottom: 0;
}
.hb-rating-input{
    margin-bottom: 20px;
}
.rating-input{
    width: 95px;
    height: 18px;
    display: inline-block;
    position: relative;
    line-height: 1;
}
.rating-input:before,
.rating-input span:before{
    content: "\e601\e601\e601\e601\e601";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    font-family: hotel-booking-star;
}
.rating-input span{
    display: inline-block;
    height: 18px;
    overflow: hidden;
    position: relative;
}
.rating-input span:before{
    content: "\e600\e600\e600\e600\e600";
}
.rating-input.mousedown span:before{
    color: #000;
}