.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
#hotel-booking-search{

}
.hb-search-form{

}
.hb-form-table{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hb-form-field{
    margin: 0 0 20px 0;
}
.hb-form-field-label{
    display: block;
    font-weight: bold;
}
.hb-form-field-input{

}

.hb-search-results{
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
}
.hb-search-results .hb-room{}
.hb-search-results .hb-room-thumbnail{
    width: 150px;
    float: left;
}
.hb-search-results .hb-room-info{
    margin-left: 170px;
}
.hb-search-results .hb-room-meta{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.hb-search-results .hb-room-meta > li > label{
    width: 30%;
    display: inline-block;
}
.hb-search-results .hb-room-meta > li > div{
    width: 69%;
    display: inline-block;
}