@font-face {
    font-family: 'hotel-booking-star';
    src:url('../fonts/hotel-booking-star.eot?f5rno8');
    src:url('../fonts/hotel-booking-star.eot?#iefixf5rno8') format('embedded-opentype'),
    url('../fonts/hotel-booking-star.ttf?f5rno8') format('truetype'),
    url('../fonts/hotel-booking-star.woff?f5rno8') format('woff'),
    url('../fonts/hotel-booking-star.svg?f5rno8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'hotel-booking-star';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
    content: "\e600";
}
.icon-star-empty:before {
    content: "\e601";
}
